<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <h1 class="lead-2 text-justify">Reservas Challenge</h1>
      <h3>Sala de ensayo</h3>
      <h4>
        Usuarío: <strong>{{ currentUser }}</strong>
      </h4>
      <div class="form-group">
        <label for="exampleSelect1"></label>
        <select
          class="form-control"
          id="exampleSelect1"
          (change)="changeActiveUser($event)"
        >
          <option *ngFor="let user of users">{{ user }}</option>
        </select>
      </div>
    </div>

    <!-- Salas -->
    <div class="col-md-6 mx-auto">
      <div class="list-group">
        <a
          *ngFor="let sala of salas"
          href="#"
          class="sala list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ sala.name }}</h5>
          </div>
          <div>
            <h6>Horarios</h6>
            <ul class="list-group">
              <li
                *ngFor="let horario of sala.horarios"
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                {{ horario.rango }}
                <ng-container *ngIf="horario.user; else disponible">
                  <span class="username"> {{ horario.user }} </span>
                </ng-container>
                <ng-template #disponible>
                  <button
                    (click)="makeReservation(horario)"
                    type="button"
                    class="btn btn-primary btn-sm reservado"
                  >
                    Reservar
                  </button>
                </ng-template>
              </li>
            </ul>
          </div>
          <small>Elegí tu horario</small>
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
