/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(./assets/img/silhouettes-of-rock-concert/4815.jpg);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
